<div class="second-page">
    <main class="image-container">
        <!-- <img src="assets/image.png" alt="Pessoa ouvindo música" /> -->
        <div class="overlay">
            <div class="content">
                <p>
                    Além das 89 milhões de playlists ligadas por usuários no país, o Spotify ainda conta com mais de
                    350 playlists editoriais, montadas por uma equipe de quatro editores do streaming.
                </p>
                <p class="quote">– CNN Brasil</p>
                <button routerLink="/login-page" class="btn">Login com Spotify</button>
            </div>
        </div>
    </main>
</div>
